@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');


body{
	/*background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/login.jpg);*/
	background: #eff5f5;
	height: 100vh;
	background-size: cover;
	background-position: center;

}

header{
	background:#5e9e5ecc;
	padding: 2px 0px 5px 40px;
	height: 55px;

}
.cotainer{
	width: 95%;
	
	/*width: auto;
	padding:  10% 0 0;
	margin: auto;*/
}
/*#error_msg{
	width: 50%;
	margin: 5px auto;
	height: 30px;
	border: 1px solid #FF0000;
	background: #FFB9B8;
	color: #FF0000;
	text-align: center;
	padding-top: 10px;
}
*/
.categories{
	width: 360px;
	padding:  10% 0 0;

	
}
.about_page{
	width: 360px;
	padding:  10% 0 0;
	margin: auto;
}
.post_items_page{
	width: 360px;
	padding:  10% 0 0;
	margin: auto;
}


.form{
	position: relative;
	z-index: 1;
	background: white;
	width: 900px;
	height: 1000px;
	margin-left: 200px;
	padding: 45px;
    text-align: left;
}

.form input{
	font-family: "Roboto",sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
} 
.form button{
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #149576;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form p{
   color: red;
   margin-left: 400px;
    margin-bottom: 50px;
    font-family: 'Bree Serif',sans-serif;
}
.form span{
   color: white;
   height: 40px;
   width: 40px;
   position: center;
   background-color: orange;
   font-family: 'Bree Serif',sans-serif;
}
.search-form{
	margin-top: 15px;
	float: right;
	margin-right: 100px;
}
nav form input[type=text]{
	padding: 7px;
	border: none;
	font-size: 16px;
	font-family: sans-serif;
}
nav form button{
	float: right;
	background: orange;
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	padding: 7px;
	font-family: sans-serif;
	border: none;
	font-size: 16px;
}
header h1{
	display: inline;
	font-family: 'Pacifico',sans-serif;
	float: left;
	font-size: 30px;
	margin-top: 0px;
	margin-right: 0px;
	color: white;


}

nav ul{
	display: inline;
	padding: 0px;
	float: left;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  color: white;
  float: left;
  font-family: 'Bree Serif',sans-serif;
  margin: 10px;



}

nav ul li a{
	text-decoration: none;
	color: white;
}
#nav{
	font-family: 'Bree Serif',sans-serif;
}

.homered{
	background-color: #00807359;
	padding: 30px 10px 13px 10px;
}

.divider{
	background-color: #008080;
	height: 5px;
}

.homeblack:hover{
	background-color:#00807359;
	padding: 30px 10px 13px 10px; 
}
/*category heading*/
#heading-block{
	
	width: auto;
	height: auto;
	float: left;
	color: #1aaa1a;
	font-size: 22px;
}

#heading-block h2{
	
	line-height: 35px;
	border-left: 20px solid #1aaa1a;
	padding-left: 10px;

}
/*category box*/
.catbox{
	width: 235px;
	height: 235px;
	float: left;
	overflow: hidden;
	position: relative;
	padding-bottom: 30px;
	padding-left: 40px;
}
.catbox span{
	width: 100%;
	/*background: rgb(22, 160, 133);*/
		background: rgb(0,0,0,0.6);
	color: white;
	line-height: 35px;
	height: 35px;
display: block;
bottom: 30px;
position: absolute;
z-index: 999;
text-align: center;
}

.catbox :hover span{
   color:green;
}
.catbox img{
	max-width: 100%;
	transition: all .5s ease;
		

}
.catbox:hover img{
	transform: scale(1.2,1.2);
	transition: all .5s ease;
}

 